---
import { Image } from "astro:assets";
import Tiltarrow from "./Tiltarrow.astro";

const { images, size, showArrow = true, text = "0" } = Astro.props;

const imageSizeClass =
  size === "large"
    ? "lg:size-[4.5rem] md:size-12 size-10"
    : "xl:size-[3rem] lg:size-[2.5rem] md:size-10 size-8";
const tiltArrowSizeClass =
  size === "large"
    ? "lg:size-[4.5rem] md:size-12 size-10"
    : "xl:size-[3rem] lg:size-[2.5rem] md:size-10 size-8";
---

<div class="flex relative items-end mt-4">
  {
    images?.map((image, index) => (
      <Image
        src={image?.src}
        alt={image?.alt}
        inferSize={true}
        class={`${index !== 0 ? `-ml-3 z-[${index + 10}]` : ""} ${imageSizeClass} relative rounded-full hover:-translate-y-1 transition-all `}
      />
    ))
  }
  <a
    aria-label="Join our Discord community"
    href="https://dsc.gg/dialogh"
    target="_blank"
    rel="noopener noreferrer"
    class={`${tiltArrowSizeClass} flex-shrink-0 relative  -ml-3 hover:rotate-45 transition-all bg-[#FFA7E1] rounded-full flex items-center justify-center hover:bg-white `}
  >
    <span class="sr-only">Join Discord community</span>
    {
      showArrow ? (
        <Tiltarrow />
      ) : (
        <span class="text-white hover:text-black font-semibold mt-1">
          {text}
        </span>
      )
    }
  </a>
</div>
